<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.megacitycab.servlets.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <servlet-class>com.megacitycab.servlets.CustomerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookRideServlet</servlet-name>
        <servlet-class>com.megacitycab.servlets.BookRideServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBookingServlet</servlet-name>
        <servlet-class>com.megacitycab.servlets.CancelBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBookingServlet</servlet-name>
        <servlet-class>com.megacitycab.servlets.AdminBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <url-pattern>/CustomerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookRideServlet</servlet-name>
        <url-pattern>/BookRideServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBookingServlet</servlet-name>
        <url-pattern>/CancelBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBookingServlet</servlet-name>
        <url-pattern>/AdminBookingServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>customerRegistration.jsp</welcome-file>
    </welcome-file-list>
</web-app>
